<h3>Menu</h3>
<script src="js/menu.js"></script>
<p class="text-center">
<button id="javabutton" class="btn btn-default">Java</button>
<button id="cbutton" class="btn btn-default">C++</button>
<button id="bashbutton" class="btn btn-default">BASH</button>
<button id="phpbutton" class="btn btn-default">PHP</button>
</p>
<p  class="text-center">
<dl id="bash">
<dt><a href="bash/sync.html">Git Annex Wrapper</a></dt><dd>Works a bit like <a href="https://git-annex.branchable.com/assistant/">git annex assistant</a> but allows a me to easily make magic happen with data.</dd>
<dt><a href="bash/luks.html">LUKS Manager</a></dt><dd>Manages <a href="https://en.wikipedia.org/wiki/Linux_Unified_Key_Setup">LUKS</a> encryptred drives from the terminal.</dd>
<dt><a href="bash/passgen.html">Passgen</a></dt><dd>Generates passphrases from a word list.</dd>
<dt><a href="bash/apt-offline.html">Apt offline</a></dt><dd>Helps manage several computers with apt-offline and git-annex</dd>
</dl>
<dl id="c">
<dt><a href="c/calculator.html">Calculator</a></dt><dd>Basic terminal calculator.</dd>
<dt><a href="c/prime_counter.html">Prime Counter</a></dt><dd>Lists prime number given a range.</dd>
</dl>
<dl id="java">
<dt><a href="java/average-scores.html">Average Scores</a></dt><dd>Shows average of test scores.</dd>
<dt><a href="java/animalfarm-polymorphism.html">Animalfarm Polymorphism</a></dt><dd>Calls function to display preset text.</dd>
<dt><a href="java/lawfirm-project.html">Lawfirm Project</a></dt><dd>Call function to do calculation based on argument passed.</dd>
<dt><a href="java/testcars.html">Test Cars</a></dt><dd>function that takes arguments to display information about cars.</dd>
<dt><a href="java/randomnumbergame.html">Random Number Game</a></dt><dd>Guess the number a computer picks.</dd>
<dt><a href="java/multiplication-table.html">Multiplication Table</a></dt><dd>Java doing the multiplication table.</dd>
</dl>
<dl id="php">
<dt><a href="php/guestbook.html">Work Input</a></dt><dd>PHP guestbook.</dd>
<dt><a href="php/workinput.html">Work Input</a></dt><dd>Form that takes user input and saves it to a database.</dd>
<dt><a href="php/allin1contact.html">All in 1 Contact</a></dt><dd>Html/php form that sends the user input to an email.</dd>
<dt><a href="php/check_creditcard.html">Check Credit Card</a></dt><dd>Verify user input to check if it a in a credit card format.</dd>
<dt><a href="php/jumbomaker.html">Jumbo Maker</a></dt><dd>Gets a sentence from the user and mixes word placement.</dd>
<dt><a href="php/speed_distance.html">Password</a></dt><dd>Check user input to see if it matches a password.</dd>
<dt><a href="php/password.html">Speed and Distance</a></dt><dd>PHP script to calculate speed and distance.</dd>
</dl>
</p>
